/* Dark mode styles */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f2f2f2;
  }
  
  .dark-mode a {
    color: #f2f2f2;
  }
  
  .dark-mode .button {
    background-color: #f2f2f2;
    color: #1a1a1a;
    border: 1px solid #f2f2f2;
  }
  
  .dark-mode .button:hover {
    background-color: #f2f2f2;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
  }
  
  .button {
    background-color: #f2f2f2;
    color: #1a1a1a;
    border: 1px solid #1a1a1a;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .navBar a {
    color: #3a6cf4;
  }
  .navBar {
    background-color: rgb(241, 241, 241);
  }
  .navBar.dark {
    background-color: black;
  }
  .navBar.dark a {
    color: white;

  }
